/* ctrl + ; */

/* Estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* todos elementos dentro da mesma borda*/
}

body {

    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: oblique;


    height: 100vh;
    /* ocupa toda altura visível do seu navegador */
    background-size: cover;
    /*cobrir a tela toda*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 1px;
}

p {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-style: oblique;
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 1%;
    background-color: #44AFFF;
    animation: show-right 1.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes show-right {
    100% {
        width: 0;
    }
}

.cabeçalho {
    max-width: 100%;
    /* largura máxima da borda*/
    margin: 0 auto;
    /* centralizar na tela */
    display: flex;
    align-items: center;
    /*centraliza no cabeçalho*/
    justify-content: space-between;
    /* manter o maximo de distancia de um elemento*/
}

.titulo h2 {
    font-size: 50px;
    color: #ffffff;
    align-items: center;
}

.titulo span {
    color: #44AFFF;
}

.titulo {
    position: relative;
    text-align: center;
}

/* estilo do cabeçalho */
header {
    padding: 25px 3%;
    /* distanciar a logo das margens encima e embaixo*/
}

header a {
    color: #ffffff;
    font-size: 1.3vw;
    /* tamanho da fonte*/
    text-decoration: none;
    /*retira a decoração do texto*/
    display: inline-block;
    transition: .2s;
}

.menu-desktop {
    order: 1;
    background-color: #00000099;
    padding: 5px;
    border: solid 2px #44AFFF;
    box-shadow: 0 0 5px 3px #44AFFF;
    border-radius: 20px;
}

header a:hover {
    /*quando passar o mouse acontece algo*/
    text-shadow: 0px 0px 15px #ffffff;
    color: #44AFFF;
    transform: scale(1.05);
    /* aumenta o tamanho da fonte*/
}

header nav ul {
    list-style-type: none;
    /*retira os bolinhas da lista ul*/
}

header nav ul.menu-principal li {
    display: inline-block;
    padding: 0px
        /*encime e embaixo*/
        25px;
    /* esquerda e direita*/
}



/*conteudo página inical*/
.menu-mobile, .btn-abrir-menu{
    order: 2;
    display: none;
}



.txt-topo-site {
    padding: 15px 30px;
    margin-top: 4%;
    margin-left: 58%;
    text-align: center;
}

.txt-topo-site h1 {
    position: relative;
    font-size: 50px;
    /*tamanho da fonte*/
    color: #44AFFF;
    line-height: 50px;
    /*espaçamento entre linhas*/


}

.txt-topo-site p {
    position: relative;
    font-size: 22px;
    /* tamaho da fonte*/
    line-height: 25px;
    color: rgb(255, 255, 255);
    /*espaçamento*/
    text-align: justify;
}

.botaocontato button {
    padding: 15px 25px;
    /* distancia da borda superior e inferior,  altura*/
    font-size: 30px;
    /*tamanho da fonte*/
    font-weight: 2;
    /*intensidade*/
    background: transparent;
    border: 5px solid;
    /*retira as bordas*/
    border-color: #44AFFF;
    border-radius: 20px;
    /*arredonda as bordas*/
    cursor: pointer;
    /*muda o estilo do cursor*/
    transition: .2s;
}

.botaocontato {

    padding: 50px 50px;
}

.buton1 {
    color: rgb(255, 255, 255);
    font-family: "Jaro", sans-serif;
}

.decoração {
    position: relative;
    display: inline-block;
}

.efeito-decoração,
.efeito-txt,
.efeito-img,
.efeito-botaocontato,
.efeito-timeline1,
.efeito-timeline4,
.efeito-wrapper,
.efeito-slider,
.efeito-contato,
.efeito-form1 {
    visibility: hidden;
}



/*quando o mouse passa sobre o botão*/
.botaocontato button:hover {
    box-shadow: 0px 0px 15px, inset 0px 0px 15px;
    color: #44AFFF;
    text-shadow: 0px 0px 15px;
    transform: scale(1.05);
}

/* página contatos */
.formulario {
    overflow: hidden;
}

form {
    padding: 30px 4%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #44AFFF inset;
}

form input,
form textarea {
    width: 100%;
    background-color: #005a9fe7;
    border: solid 3px #44AFFF;
    box-shadow: 0 0 5px 3px #44AFFF;
    padding: 10px 15px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Oxanium", sans-serif;
}

form input::placeholder,
form textarea::placeholder {
    color: #ffffff9e;
    font-size: 18px;
    font-family: "Oxanium", sans-serif;
}

form textarea {
    resize: vertical;
    /*não redimencionar*/
    height: 150px;
}

.line-contato {
    text-align: center;
    margin-top: 20px;
}

.btn-enviar {
    margin-top: 10px;
    text-align: center;
}

.btn-enviar input {
    width: 150px;
    background-color: #005a9fe7;
    border: 3px solid;
    border-color: #44AFFF;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
    font-family: "Oxanium", sans-serif;
}

.btn-enviar input:hover {
    box-shadow: 0px 0px 15px, inset 0px 0px 15px;
    color: #44AFFF;
    text-shadow: 0px 0px 15px;
    transform: scale(1.05);
}

/*página experiência*/
.wrapper {
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    overflow: hidden;

}

.container {
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;

}

.card {
    width: 100px;
    height: 500px;
    /*largura fechado*/
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 32px;
    margin: 0px 10px;
    transition: .9s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0 0 5px 3px #44AFFF
}

.row {
    color: #44AFFF;

}

.row .icon {
    font-size: 40px;
    color: #44AFFF;
    padding: 10px 30px;
}

.row .description {
    padding: 1px 30px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}



.description p {
    letter-spacing: 0.5px;
    padding: 10px 0px;
    font-size: 23px;
    color: #ffffff;
    text-align: justify;
}

.description h4 {
    font-size: 38px;
    text-transform: uppercase;
    /*maiusculo*/
}

.cards input {
    display: none;
}

input:checked+label {
    width: 500px;
    /*largura box */
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for=c1] {

    background: #00000099;
}

.card[for=c2] {
    background: #00000099;
}

.card[for=c3] {
    background: #00000099;
}

.card[for=c4] {
    background: #00000099;
}

.card[for=c5] {
    background: #00000099;
}



/* rodapé */
footer {
    padding: 10px 2%;
    box-shadow: 0 0 5px 3px #44AFFF;
    background-color: #00000099;
}

.line-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn-social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #44AFFF;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social button:hover {
    transform: scale(1.09);
    box-shadow: 0 0 5px 3px #44AFFF;
}

footer img:hover {
    transition: .2s;
    transform: scale(1.05);
    cursor: pointer;
}

/*sobre mim */
.sobre {
    display: flex;
    align-items: center;
    padding: 2% 2%;
    overflow: hidden;
}

.imagen img {
    width: 600px;
    margin-right: 30px;
    border-radius: 25%;
    box-shadow: 0 0 5px 3px #44AFFF;


}

.texto {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    background-color: #00000099;
    border-radius: 50px;
    box-shadow: 0 0 5px 3px #44AFFF;
    padding: 20px 2%;
    text-align: justify;
    text-indent: 50px;
}

/*barra de rolagem*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #44AFFF;
}

/*projetos*/
.slider {
    position: relative;
    height: 560px;
    overflow: hidden;
    margin-bottom: 2%;
}

.item {
    color: #ffffff;
    margin-top: 2%;
    position: absolute;
    width: 44%;
    text-align: center;
    background-color: #00000099;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(50% - 22%);
    top: 0;
    border: solid 3px #44AFFF;
    box-shadow: 0 0 5px 3px #44AFFF;
}

.item h1 {
    color: #44AFFF;
}

.item button {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 8px 18px;
    /* distancia da borda superior e inferior,  altura*/
    font-size: 15px;
    /*tamanho da fonte*/
    font-weight: 2;
    /*intensidade*/
    background: transparent;
    border: 3px solid;
    /*retira as bordas*/
    border-color: #44AFFF;
    border-radius: 20px;
    /*arredonda as bordas*/
    cursor: pointer;
    /*muda o estilo do cursor*/
    transition: .2s;
    color: rgb(255, 255, 255);
    font-family: "Jaro", sans-serif;
}

.item button:hover {
    box-shadow: 0px 0px 15px, inset 0px 0px 15px;
    color: #44AFFF;
    text-shadow: 0px 0px 15px;
    transform: scale(1.05);
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #44AFFF;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 13%;
    transition: .2s;
}

#next {
    left: unset;
    right: 13%;
}

#next:hover,
#prev:hover {
    color: #ffffff;
    transform: scale(1.05);
    cursor: pointer;
}

.template img {
    width: 90%;
    border-radius: 30px;
    padding: 10px 0px;
}

.template {
    text-align: center;
}

/*janela modal*/
.janela-modal {
    margin-top: 15%;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #63636397;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.janela-modal.abrir {
    display: flex;
}

.modal {
    width: 80%;
    background-color: #ffffff85;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
}

.modal p {
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

.fecharmodal {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: #44AFFF;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(-40px, 0, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirmodal 0.5s;
}

/*FORMAÇÃO*/
.timeline {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 6%;
}

.timeline .timeline-row {
    display: flex;
    column-gap: 64px;
    flex-wrap: wrap;
}

.timeline-row .timeline-box {
    position: relative;
    border-left: 4px solid #44AFFF;
    flex: 1 1 320px;
}

.timeline-box .timeline-content {
    position: relative;
    padding-left: 27px;
}

.timeline-box .timeline-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background-color: #44AFFF;
    border-radius: 50%;
}

.content {
    padding: 15px 2%;
    box-shadow: 0 0 5px 3px #44AFFF;
    background-color: #00000099;
    border-radius: 8px;
    margin-bottom: 32px;
}

.content .year {
    font-size: 26px;
    color: #ffffff;
}

.content .year i {
    margin-right: 8px;
}

.content h3 {
    font-size: 20px;
    margin: 8px 0;
    color: #ffffffee;
}

.content p {
    font-size: 18px;
    color: #44AFFF;
}


/*responsivo*/
@media screen and (max-width: 1050px) {

    /*cabeçalho*/
    .menu-desktop {
        display: none;
    }
    

    /*inicial*/
    .txt-topo-site {
        padding: 0px 8px;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*projetos*/
    .slider {
        height: 400px;
        margin-top: 2%;
    }

    /*experiencia*/
    .wrapper {
        display: flex;
        flex-direction: column;

    }

    .wrapper.row{
        margin-bottom: 20px;
    }

    .container {
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;

    }

    .card {
        width: 100px;
        height: 600px;
        margin-bottom: 20px;
    }


    input:checked+label {
        width: 370px;
    }

    /*sobre-mim*/
    .sobre {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .imagen img {
        width: 100%;
        margin-bottom: 20px;
    }


    /* estilo menu mobile */

.overlay-menu{
    background-color: #00000099;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
    
}


.btn-abrir-menu i{
    color: #44AFFF;
    font-size: 35px;
    background-color:#00000099;
    border-radius: 49%;
    box-shadow: 0 0 5px 3px #44AFFF;
    cursor: pointer;
}

.menu-mobile{
    background-color: #000000;
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: 0.5s;
    
}

.menu-mobile.abrir-menu{
    width: 250px;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 25px 5%;
}

.menu-mobile .btn-fechar i{
    color: #44AFFF;
    font-size: 35px;
    cursor: pointer;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    font-size: 25px;
    padding: 20px 8%;
    
}

.btn-abrir-menu{
    display: block;
}

.menu-mobile, .btn-abrir-menu{
    display: inline-block;
}

}